*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    margin: 0 auto;
}
.claerflix::after{
    content: "";
    display: table;
    clear: both;
}
.img-bg{
    background-position:center ;
    background-size: cover;
    background-attachment: scroll;
    border-radius: 5px;
}
/* header */
header{
    height: 50px;
    margin-bottom: 20px;
}

#img-logo{
    height:100%
}

.big-box{
   
    margin: 20px 0;    
    margin-bottom: 50px;   
}

ul li{
list-style-type: none;
display:inline-block;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 15px;
color: grey;
padding: 3px;
margin-left: 2px;
margin-bottom: 5px;
}

.main-content{
    height: 500px;
    margin-top: 20px;
    border-radius: 5px;
}

#banner{
    height: 100%;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,0.3)), url(./img/banner.jpg);
   
}
    
.text{
    height: 100%;
    width: 60%;
    padding-top: 250px;
    padding-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;    
}

.main-header{
    height: 80px;
    margin-bottom:;
}

h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4{
    color: grey;
}



.leadership{
    
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.leadership .columns .col{
    float: left;
    width: 25%;
    height: 400px;
    background-color: hotpink;
}

.leadership .columns .col:nth-child(2) {
width: calc(50% - 40px);
margin: 0 20px;
}

#img1{
    background-image: url(./img/img-1.jpg);
}
#banner{
    background-image: url(./img/banner2.jpg);
}

#img2{
    background-image: url(./img/img-2.jpg);
}