*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    max-width: 1000px;
    margin: 0 auto;
}
.claerflix::after{
    content: "";
    display: table;
    clear: both;
}
.img-bg{
    background-position:center ;
    background-size: cover;
    background-attachment: scroll;
    border-radius: 5px;
}
/* header */
header{
    height: 50px;
    margin-bottom: 20px;
}

#img-logo{
    height:100%
}

.big-box{
   
    margin: 20px 0;    
    margin-bottom: 50px;   
}

ul li{
list-style-type: none;
display:inline-block;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 15px;
color: grey;
padding: 3px;
margin-left: 2px;
margin-bottom: 5px;
}

.main-content{
    height: 500px;
    margin-top: 20px;
    border-radius: 5px;
}

#banner{
    height: 100%;
    width: 100%;
    background-image: url(./img/banner.jpg);
   
}

    

    
.text{
    height: 150px;
    padding: 30px;
    position: absolute;
    margin-top: 120px;
    right: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;    
}

.main-header{
    height: 80px;
}

h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.leadership{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}



.leadership .content .box{
    float: left;
    width: 25%;
    height: 300px;
    background-color: royalblue; 
    display: inline-block;      
}
.leadership .content .box:nth-child(2){
    width: calc(50% - 40px);
    margin: 0 20px;
    margin-top: 0px;
  
} 

footer{
    height: 50px;
    background-color:rgb(192, 51, 235);
    margin-top: 20px;
}
